.banner__container {
  background-image: url("../../public/img/Bitmap.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__header {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}
.banner__content {
  text-align: left;
  min-height: 250px;
  padding: 1em 10% 3em 10%;
  & h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    letter-spacing: 1px;
  }
}
.banner__button {
  color: #f65261;
  font-size: 1.25em;
  font-weight: 600;
  border: transparent;
  border-radius: 4px;
  background: rgba(96, 96, 96, 0.68);
  padding: 0.6em 1em;
  text-transform: uppercase;
}
